* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Suwannaphum', cursive;
    background-color:#efefef;
    font-size: 20px;
}
div {
	width: 60%;
	padding: 50px;
	margin: auto;
	background-color:#fff !important;
	box-shadow:0 0 10px 10px rgba(0,0,0,0.2); 
}
p{
	margin: 25px 0;
}
h1{
	font-size: 50px;
}
a {
	text-decoration: none;
	color:black;
	margin: 20px ;
	display: inline-block;
	border-bottom: 1px solid black;

}
a:hover {
border-bottom-color: #929aab ;
color: #929aab ;
}
img{
	max-width: 100%
	height:auto 
}

